- var opts = globals[0]

mixin anchor(href, classes)
    if opts.local
        a(class!= classes, href= href + '.html')
            block
    else
        a(class!= classes, href= href)
            block

mixin vtex-controller(tag)
    if opts.local
        block
    else
        != tag
