link(rel="icon", href="/arquivos/favicon-32.png", sizes="32x32")
link(rel="icon", href="/arquivos/favicon-16.png", sizes="16x16")
link(rel="icon", href="/arquivos/favicon-48.png", sizes="48x48")
link(rel="icon", href="/arquivos/favicon-57.png", sizes="57x57")
link(rel="icon", href="/arquivos/favicon-64.png", sizes="64x64")
link(rel="icon", href="/arquivos/favicon-72.png", sizes="72x72")
link(rel="icon", href="/arquivos/favicon-120.png", sizes="120x120")
link(rel="icon", href="/arquivos/favicon-128.png", sizes="128x128")
link(rel="icon", href="/arquivos/favicon-144.png", sizes="144x144")
link(rel="icon", href="/arquivos/favicon-152.png", sizes="152x152")
link(rel="icon", href="/arquivos/favicon-195.png", sizes="195x195")
link(rel="icon", href="/arquivos/favicon-228.png", sizes="228x228")
